.recentPets{
    background-color: #faf3f3;
}
#recentPetsList{
    color: #faf3f3;
    font-size: larger;
}
.recentPetsbtn{
    background-color: #a7bbc7;
    color: #faf3f3;
    font-weight: bold;
    font-size: 1em;
    width:auto;
    border-radius: 10px;
    padding: 20px;
}
.recentPetsbtn:hover{
    background-color: #da7f8f;
    color: #faf3f3;
    font-weight: bold;
    font-size: 1.15em;
    width:auto;
    border-radius: 10px;
}
.petsContainerDiv{
    background-color: #a7bbc7;
    color: #faf3f3;
    font-weight: bold;
    border-radius: 10px;
    /* display: flex; */
    /* text-align: center; */
}
#recentlyAddedTitle{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
